<div class="s-login">
    <div class="login-header">
        <img src="./assets/images/icons/logo-icon.svg" alt="Chat Angular">
        <h3>Escolha um usuário.</h3>
    </div>
    <ul>
        @for (userData of users$ | async; track userData.user.id;) {
        <li (click)="onClickUser(userData.user.id)" class="user">
            <div class="personal-info">
                <div class="avatar">
                    <img [src]="userData.imageUrl || './assets/images/avatars/default.png'"
                        [alt]="'Foto de perfil de ' + userData.user.name">
                </div>
                <span>{{ userData.user.name }}</span>
            </div>
            <button (click)="onImageButtonClicked($event, userData.user.id)">
                <img src="./assets/images/icons/update-image.svg" alt="Atualizar Imagem">
            </button>
        </li>
        }
    </ul>
    <input #upload_image_input (change)="onFileSelected($event)" type="file" >
</div>